<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
    
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
    
      <nav>
        {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
    
    </header>

    <main>
      {{{ body }}}        <!-- 'Handlebars' syntax for data to be plugged in here. -->
    </main>

    <footer>
      Thanks for visiting!
    </footer>
  </div>

<!-- Load the script for the logout page, only if logged-in.  -->
<!-- "loggedIn" is known here because variables passed to "view templates" are automatically
      passed to the "main" layout. -->
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</body>

</html>