
<!-- Create the form for adding a new post. -->
<section>
  <h2>Create A New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>

    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>

<!-- If this user has existing posts, display them below the "create" form. -->
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit this post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<!-- /////////////////////////////////////////////////////////////////////////// -->
<script src="/javascript/add-post.js"></script>